In [4]:
"""A class with 10 students wants to produce some information from the results of the four standard
tests in Maths, Science, English and IT. Each test is out of 100 marks. The information output
should be the highest, lowest, and average mark for each test and the highest, lowest, and average
overall. Write a program in Python to complete this task."""


marks = []
for i in range(10):
    print(f"Enter marks for student {i+1}:")
    maths = int(input("Maths: "))
    science = int(input("Science: "))
    english = int(input("English: "))
    it = int(input("IT: "))
    marks.append([maths, science, english, it])


overall_marks = []

highest_overall = -1
lowest_overall = 101
total_marks = 0


highest_maths = -1
lowest_maths = 101
total_maths = 0

highest_science = -1
lowest_science = 101
total_science = 0

highest_english = -1
lowest_english = 101
total_english = 0

highest_it = -1
lowest_it = 101
total_it = 0


for student in marks:
    maths, science, english, it = student
    

    overall_marks.append([maths, science, english, it])
    highest_overall = max(highest_overall, maths, science, english, it)
    lowest_overall = min(lowest_overall, maths, science, english, it)
    total_marks += maths + science + english + it


    highest_maths = max(highest_maths, maths)
    lowest_maths = min(lowest_maths, maths)
    total_maths += maths
    

    highest_science = max(highest_science, science)
    lowest_science = min(lowest_science, science)
    total_science += science
    

    highest_english = max(highest_english, english)
    lowest_english = min(lowest_english, english)
    total_english += english
    

    highest_it = max(highest_it, it)
    lowest_it = min(lowest_it, it)
    total_it += it


average_overall = total_marks / (10 * 4)
average_maths = total_maths / 10
average_science = total_science / 10
average_english = total_english / 10
average_it = total_it / 10


print("\n--- Results ---")
print(f"Maths - Highest: {highest_maths}, Lowest: {lowest_maths}, Average: {average_maths:.2f}")
print(f"Science - Highest: {highest_science}, Lowest: {lowest_science}, Average: {average_science:.2f}")
print(f"English - Highest: {highest_english}, Lowest: {lowest_english}, Average: {average_english:.2f}")
print(f"IT - Highest: {highest_it}, Lowest: {lowest_it}, Average: {average_it:.2f}")
print(f"Overall - Highest: {highest_overall}, Lowest: {lowest_overall}, Average: {average_overall:.2f}")

Enter marks for student 1:

Maths:  10
Science:  20
English:  30
IT:  40

Enter marks for student 2:

Maths:  50
Science:  60
English:  70
IT:  80

Enter marks for student 3:

Maths:  90
Science:  100
English:  10
IT:  20

Enter marks for student 4:

Maths:  30
Science:  40
English:  50
IT:  60

Enter marks for student 5:

Maths:  10
Science:  20
English:  30
IT:  40

Enter marks for student 6:

Maths:  50
Science:  60
English:  70
IT:  80

Enter marks for student 7:

Maths:  90
Science:  10
English:  20
IT:  30

Enter marks for student 8:

Maths:  40
Science:  50
English:  60
IT:  70

Enter marks for student 9:

Maths:  80
Science:  90
English:  100
IT:  10

Enter marks for student 10:

Maths:  20
Science:  30
English:  40
IT:  50

--- Results ---
Maths - Highest: 90, Lowest: 10, Average: 47.00
Science - Highest: 100, Lowest: 10, Average: 48.00
English - Highest: 100, Lowest: 10, Average: 48.00
IT - Highest: 80, Lowest: 10, Average: 48.00
Overall - Highest: 100, Lowest: 10, Average: 47.75

In [5]:
"""Write a Python Program to input basic salary of an employee and calculate its Gross salary
according to following: Basic Salary <= 10000 : HRA = 20%, DA = 80% Basic Salary <= 20000
: HRA = 25%, DA = 90% Basic Salary > 20000 : HRA = 30%, DA = 95%."""


basic_salary = float(input("Enter the basic salary of the employee: "))


if basic_salary <= 10000:
    hra = 0.20 * basic_salary  
    da = 0.80 * basic_salary 
elif basic_salary <= 20000:
    hra = 0.25 * basic_salary  
    da = 0.90 * basic_salary  
else:
    hra = 0.30 * basic_salary 
    da = 0.95 * basic_salary 


gross_salary = basic_salary + hra + da


print(f"Gross Salary: {gross_salary:.2f}")

Enter the basic salary of the employee:  60000

Gross Salary: 135000.00

In [7]:
"""
Write a Python program to check the validity of password input by users.

Validation:
• At least 1 letter between [a-z] and 1 letter between [A-Z].
• At least 1 number between [0-9].
• At least 1 character from [$#@].
• Minimum length 6 characters.
• Maximum length 16 characters.
"""

import re

def validate_password(password):
    if len(password) < 6 or len(password) > 16:
        return "Invalid: Password length must be between 6 and 16 characters."
    
    if not re.search("[a-z]", password):
        return "Invalid: Password must contain at least one lowercase letter."
    
    if not re.search("[A-Z]", password):
        return "Invalid: Password must contain at least one uppercase letter."
    
    if not re.search("[0-9]", password):
        return "Invalid: Password must contain at least one digit."
    

    if not re.search("[$#@]", password):
        return "Invalid: Password must contain at least one special character ($, #, @)."
    
    return "Valid password!"

user_password = input("Enter your password: ")

result = validate_password(user_password)
print(result)

Enter your password:  @#10Million

Valid password!

In [9]:
"""
Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

(i) WAP to add 200 and 300 to L.
(ii) WAP to remove 10 and 30 from L.
(iii) WAP to sort L in ascending order.
(iv) WAP to sort L in descending order.
"""


L = [10, 20, 30, 40, 50, 60, 70, 80]


L.append(200)
L.append(300)
print(f"After adding 200 and 300: {L}")


L.remove(10)
L.remove(30)
print(f"After removing 10 and 30: {L}")


L.sort()
print(f"Sorted in ascending order: {L}")


L.sort(reverse=True)
print(f"Sorted in descending order: {L}")

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [10]:
"""
D is a dictionary defined as D= {1:”One”, 2:”Two”, 3:”Three”, 4: “Four”, 5:”Five”}.
(i) WAP to add new entry in D; key=6 and value is “Six”
(ii) WAP to remove key=2.
(iii) WAP to check if 6 key is present in D.
(iv) WAP to count the number of elements present in D.
(v) WAP to add all the values present D.
"""



D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}


D[6] = "Six"
print(f"After adding key=6: {D}")


if 2 in D:
    D.pop(2)
print(f"After removing key=2: {D}")


if 6 in D:
    print("Key=6 is present in D.")
else:
    print("Key=6 is not present in D.")


count = len(D)
print(f"Number of elements in D: {count}")


values_combined = " ".join(D.values())
print(f"All values combined: {values_combined}")

After adding key=6: {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
After removing key=2: {1: 'One', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
Key=6 is present in D.
Number of elements in D: 5
All values combined: One Three Four Five Six

In [11]:
"""
WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers
"""

import random

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True


random_numbers = [random.randint(100, 900) for _ in range(100)]


odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]


print(f"Random numbers: {random_numbers}\n")
print(f"(i) Odd numbers ({len(odd_numbers)}): {odd_numbers}")
print(f"(ii) Even numbers ({len(even_numbers)}): {even_numbers}")
print(f"(iii) Prime numbers ({len(prime_numbers)}): {prime_numbers}")

Random numbers: [208, 219, 356, 273, 169, 214, 607, 785, 506, 839, 613, 844, 721, 574, 781, 423, 593, 151, 215, 195, 601, 585, 654, 865, 536, 546, 646, 166, 397, 240, 436, 402, 810, 164, 676, 893, 349, 199, 331, 725, 752, 548, 675, 578, 207, 498, 860, 119, 171, 276, 185, 795, 180, 625, 109, 134, 476, 204, 860, 793, 331, 407, 773, 194, 539, 227, 218, 409, 369, 285, 221, 106, 559, 150, 899, 663, 600, 455, 510, 512, 123, 617, 618, 506, 393, 256, 512, 199, 662, 686, 782, 754, 311, 827, 260, 850, 268, 109, 730, 237]

(i) Odd numbers (53): [219, 273, 169, 607, 785, 839, 613, 721, 781, 423, 593, 151, 215, 195, 601, 585, 865, 397, 893, 349, 199, 331, 725, 675, 207, 119, 171, 185, 795, 625, 109, 793, 331, 407, 773, 539, 227, 409, 369, 285, 221, 559, 899, 663, 455, 123, 617, 393, 199, 311, 827, 109, 237]
(ii) Even numbers (47): [208, 356, 214, 506, 844, 574, 654, 536, 546, 646, 166, 240, 436, 402, 810, 164, 676, 752, 548, 578, 498, 860, 276, 180, 134, 476, 204, 860, 194, 218, 106, 150, 600, 510, 512, 618, 506, 256, 512, 662, 686, 782, 754, 260, 850, 268, 730]
(iii) Prime numbers (20): [607, 839, 613, 593, 151, 601, 397, 349, 199, 331, 109, 331, 773, 227, 409, 617, 199, 311, 827, 109]

In [15]:
 """(i) Write a function which takes principal amount, interest rate and time. This function returns
compound interest. Call this function to print the output."""


def calculate_compound_interest(principal, rate, time):
    # Formula: A = P * (1 + r/100)^t
    amount = principal * (1 + rate / 100) ** time
    compound_interest = amount - principal
    return compound_interest

principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual interest rate (in %): "))
time = float(input("Enter the time (in years): "))

ci = calculate_compound_interest(principal, rate, time)
print(f"Compound Interest: {ci:.2f}")

Enter the principal amount:  360000
Enter the annual interest rate (in %):  10
Enter the time (in years):  5

Compound Interest: 219783.60

In [23]:
"""
A) Make a class called Restaurant. The init () method for Restaurant should store two
attributes: a restaurant_name and a cuisine_type. Make a method called describe_restaurant()
that prints these two pieces of information, and a method called open_restaurant() that prints a
message indicating that the restaurant is open. Make an instance called restaurant from your
class. Print the two attributes individually, and then call both methods.
"""


class Restaurant:
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type

    def describe_restaurant(self):
        print(f"The restaurant '{self.restaurant_name}' serves {self.cuisine_type} cuisine.")

    def open_restaurant(self):
        print(f"The restaurant '{self.restaurant_name}' is now open!")


restaurant = Restaurant("Food Paradise", "Italian")

print(f"Restaurant Name: {restaurant.restaurant_name}")
print(f"Cuisine Type: {restaurant.cuisine_type}")


restaurant.describe_restaurant()
restaurant.open_restaurant()

Restaurant Name: Food Paradise
Cuisine Type: Italian
The restaurant 'Food Paradise' serves Italian cuisine.
The restaurant 'Food Paradise' is now open!

In [22]:
"""
B) Make a class called User. Create two attributes called first_name and last_name, and then
create several other attributes that are typically stored in a user profile. Make a method called
describe_user() that prints a summary of the user’s information. Make another method called
greet_user() that prints a personalized greeting to the user. Create several instances representing
different users, and call both method for each user.
"""

class User:
    def __init__(self, first_name, last_name, age, email):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.email = email

    def describe_user(self):
        print(f"User Profile:\n  Name: {self.first_name} {self.last_name}\n  Age: {self.age}\n  Email: {self.email}")

    def greet_user(self):
        print(f"Hello, {self.first_name} {self.last_name}! Welcome back!")


user1 = User("Aptik", "Pandey", 20, "aptik.pandey@example.com")
user2 = User("Priya", "Sharma", 25, "priya.sharma@example.com")


user1.describe_user()
user1.greet_user()

user2.describe_user()
user2.greet_user()

User Profile:
  Name: Aptik Pandey
  Age: 20
  Email: aptik.pandey@example.com
Hello, Aptik Pandey! Welcome back!
User Profile:
  Name: Priya Sharma
  Age: 25
  Email: priya.sharma@example.com
Hello, Priya Sharma! Welcome back!